/* rafting.css */
:root {
        --primary-color: #7289ae;
        --secondary-color: #f0f0f0;
        --accent-color: rgb(212, 249, 5);
        --background-color: #e9ecef;
        --text-color: black;
        --hero-article-background: rgba(255, 255, 255, 0.8);
        --footer-background-color: rgb(222, 112, 112);
        --adventure-background-color: rgb(178, 151, 151);
        --social-link-color: #233fcd;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color); /* for header */
}

.nav-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.nav-columns a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

/* White Water Rafting Section (Hero) */
.hero {
    position: relative;
    text-align: left;
    color: var(--primary-color); 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
}

.hero h1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent-color);
    text-align: center;
}

.hero article {
    position: absolute;
    display: flex;
    top: -50px;
    align-items: center;
    background-color: var(--hero-article-background); 
    padding: 20px;
    border-radius: 8px;
}

.hero article img {
    max-width: 150px;
    float: right; 
    margin-left: 20px; 
}

.hero article p {
    flex: 1; 
    color: var(--text-color);
    text-align: center;
}

/* History Section */
.history {
    padding: 40px 20px;
    text-align: center;
    background-color: var(--background-color); 
}

/* Adventure Awaits You Section */
.history h2 {
    text-align: center;
    color: var(--text-color);    
}

.history p {
    text-align: center;
    color: var(--text-color);
}

.adventure {
    padding: 40px 20px;
    text-align: center;
    background-color: var(--advanture-background-color); 
}

.adventure img {
    max-width: 150px;
    margin: 10px;
}

/* Footer Styling */
footer {
    text-align: left; 
    padding: 20px;
    background-color: var(--footer-background-color);
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} 

.sociallinks a {
    text-decoration: none; 
    color: var(--social-link-color);
}

.sociallinks a img{
    width: 30px; 
    height: 30px; 
    margin-left: 10px;
    text-decoration: none; 
    color: var(--social-link-color);
}